APP_DEBUG=false
CORS_ORIGIN=https://TU-SITIO.runasp.net
DB_HOST=HOST-MYSQL-DE-MONSTERASP
DB_PORT=3306
DB_NAME=NOMBRE_BASE_DATOS
DB_USER=USUARIO_BASE_DATOS
DB_PASS=CONTRASENA_BASE_DATOS
DB_SSL_MODE=Preferred
DB_TIMEOUT=10
